
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~adminlte/dist/css/AdminLTE.css";
@import "~adminlte/dist/css/skins/_all-skins.css";
@import "~font-awesome/scss/font-awesome.scss";
$fa-font-path: "../fonts/" !default
.timer{
  min-height: 125px;
  text-align: center;
  background: #fff;
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
}
